section.history
  .history__container
    h2.history__title
      | Немного истории
    dl.history__list
      .history__item.item-history
        dt.item-history__term
          span.item-history__title
            | Происхождение кваса
            |
          i.item-history__source
            | Источник:
            |
            a.item-history__source-link(href='#' target='_blank')
              | ru.wikipedia.org
        dd.item-history__details.clearfix
          .item-history__image
            img(
              src='img/wiki-1.png'
              width='200'
              height='101'
              alt='Происхождение кваса')
          p.item-history__description
            | Квас на Руси появился в X-XI веке.
            | Само слово «квас» тоже имеет древнерусское происхождение.
            | Помимо России квас готовят в Белоруссии, Сербии, Македонии,
            | Словакии и многих других странах, но называется он везде
            | одинаково — квас.
      .history__item.item-history
        dt.item-history__term
          span.item-history__title
            | Классификация кваса
            |
          i.item-history__source
            | Источник:
            |
            a.item-history__source-link(href='#' target='_blank')
              | ru.wikipedia.org
        dd.item-history__details.clearfix
          .item-history__image
            img(
              src='img/wiki-2.png'
              width='200'
              height='101'
              alt='Классификация кваса')
          p.item-history__description
            | По российскому ГОСТу для промышленного изготовления — это напиток
            | с объёмной долей этилового спирта не более 1,2%, изготовленный в
            | результате незавершённого спиртового и молочнокислого брожения
            | сусла.
