section.new-items
  h2.new-items__title
    | Новинки
  .new-items__list
    .item
      h3.item__title
        | Вахтёр
      .item__row
        .item__composition
          table
            tr
              td
                | Алк.
              td
                | &lt; 1%
            tr
              td
                | Ккал
              td
                | 35
          p
            | Ржаной хлеб, Вода, Солод, Соль
        .item__image
          img(
            src='img/bottle-left.jpg'
            width='319'
            height='459'
            alt='Вахтёр')
      p.item__description
        | Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и
        | придаст сил для вечерних приключений!
      .item__bottom
        a.btn(href='#')
          | Подробнее
        |
        |
        a.btn(href='#')
          | Купить
        |
        |
        b.item__price
          | 150 Р.
    .item
      h3.item__title
        | Романтик
      .item__row
        .item__composition
          table
            tr
              td
                | Алк.
              td
                | &lt; 0,5%
            tr
              td
                | Ккал
              td
                | 27
          p
            | Ячменный хлеб, Вода, Солод, Апельсин
        .item__image
          img(
            src='img/bottle-right.jpg'
            width='319'
            height='459'
            alt='Романтик')
      p.item__description
        | Лёгкий и освежающий напиток поможет сохранять отличное настроение в
        | течение всего дня.
      .item__bottom
        a.btn(href='#')
          | Подробнее
        |
        |
        a.btn(href='#')
          | Купить
        |
        |
        b.item__price
          | 90 Р.
