section.new-products
  .new-products__container
    h2.new-products__title
      | Новинки
    .new-products__list
      .product
        h3.product__title
          | Вахтёр
        .product__row
          .product__composition
            table
              tr
                td
                  | Алк.
                td
                  | &lt; 1%
              tr
                td
                  | Ккал
                td
                  | 35
            p
              | Ржаной хлеб, Вода, Солод, Соль
          .product__image
            img(
              src='img/bottle-left.jpg'
              width='319'
              height='459'
              alt='Вахтёр')
        p.product__description
          | Терпкий и мощный, вкус этого кваса взбодрит после тяжёлого дня и
          | придаст сил для вечерних приключений!
        .product__bottom
          a.btn.btn--ghost-brown(href='#')
            | Подробнее
          |
          |
          a.btn(href='#')
            | Купить
          |
          |
          b.product__price
            | 150 Р.
      .product
        h3.product__title
          | Романтик
        .product__row
          .product__composition
            table
              tr
                td
                  | Алк.
                td
                  | &lt; 0,5%
              tr
                td
                  | Ккал
                td
                  | 27
            p
              | Ячменный хлеб, Вода, Солод, Апельсин
          .product__image
            img(
              src='img/bottle-right.jpg'
              width='319'
              height='459'
              alt='Романтик')
        p.product__description
          | Лёгкий и освежающий напиток поможет сохранять отличное настроение в
          | течение всего дня.
        .product__bottom
          a.btn.btn--ghost-brown(href='#')
            | Подробнее
          |
          |
          a.btn(href='#')
            | Купить
          |
          |
          b.product__price
            | 90 Р.
